.benefits {
  // .benefits__wrapper

  &__wrapper {
    display: flex;
    padding: 44px 0 55px 0;
    background-color: $basic-very-light-gray;
    @media (max-width: 992px) {
      padding: 44px 0 36px 0;
    }
    @media (max-width: 767px) {
      display: grid;
      grid-template-rows: 1fr;
      row-gap: 50px;
    }
  }

  // .benefits__column

  &__column {
    flex: 1 1 0.33333%;
    text-align: center;
    @media (max-width: 992px) {
      padding: 0 40px 0 40px;
    }
  }

  // .benefits__title

  &__title {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 11px 0;
  }

  // .benefits__number

  &__number {
    margin: 0 0 16px 0;
  }

  // .benefits__text

  &__text {
    @media (max-width: 992px) {
      line-height: 23px;
    }
  }
}
