.benefits {
  // .benefits__wrapper

  &__wrapper {
    display: flex;
    padding: 41px 0 55px 0;
    background-color: $basic-very-light-gray;
    @media (max-width: 992px) {
      padding: 44px 0 36px 0;
    }
    @media (max-width: 767px) {
      display: grid;
      grid-template-rows: 1fr;
      row-gap: 50px;
    }
    @media (max-width: 550px) {
      row-gap: 47px;
      padding: 26px 0 22px 0;
    }
  }

  // .benefits__column

  &__column {
    flex: 1 1 0.33333%;
    text-align: center;
    position: relative;
    @media (max-width: 992px) {
      padding: 0 40px 0 40px;
    }
    @media (max-width: 767px) {
      padding: 0px 23px 0 23px;
      br {
        display: none;
      }
    }
    @media (max-width: 767px) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 400px;
        bottom: -23px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #d6d6d6;
      }
    }
    @media (max-width: 450px) {
      &::after {
        width: 280px;
      }
    }
  }
  &__column:last-child::after {
    display: none;
  }

  // .benefits__title

  &__title {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 8px 0;
    @media (max-width: 550px) {
      font-size: 18px;
    }
  }

  // .benefits__number

  &__number {
    margin: 0 0 15px 0;
  }

  // .benefits__text

  &__text {
    @media (max-width: 992px) {
      line-height: 23px;
    }
  }
}
