.common-intro {
  // .common-intro__wrapper

  &__wrapper {
    padding: 100px 0 123px 0;
    text-align: center;
    background: url(../../source/img/review-image/review-background/intro-triangle.svg.svg) bottom no-repeat,
      url(../../source/img/review-image/review-background/back-desktop.jpg) 50% -54px no-repeat;
    @media (max-width: 992px) {
      padding: 96px 0 120px 0;
    }
  }

  // .common-intro__logo

  &__logo {
  }
}
.common-intro {
  // .common-intro__column

  &__column {
    padding: 113px 0 55px 0;
    text-align: center;
    @media (max-width: 992px) {
      padding: 57px 0 55px 0;
    }
  }
  &__column--catalog {
    padding: 104px 0 55px 0;
    @media (max-width: 992px) {
      padding: 54px 0 55px 0;
    }
  }

  // .common-intro__title

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 32px 0;
  }

  // .common-intro__text

  &__text {
  }
}
