.footer {
  // .footer__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 35px 0 37px 0;
    @media (max-width: 992px) {
      padding: 35px 37px 37px 25px;
    }
    @media (max-width: 767px) {
      display: grid;
      justify-items: center;
      padding: 38px 10px 26px 8px;
    }
  }

  // .footer__row

  &__row {
    display: flex;
    justify-content: center;
    flex: 1 1 0.33333%;
  }

  // .footer__link

  &__link {
    color: $basic-black;
    font-size: 21px;
    font-weight: 700;
  }
  &__link:hover {
    color: $-basic-medium-cyan-blue;
  }
  &__link:active {
    opacity: 0.3;
  }
  // .footer__icon
  &__row-iconwrap {
    max-width: 150px;
    margin: 0 130px 0 130px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      margin: 0px 67px 0 77px;
    }
    @media (max-width: 767px) {
      grid-gap: 6px;
      margin: 34px 51px 40px 53px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    cursor: pointer;
    background-color: $basic-light-blue;
  }
  &__icon:hover {
    background-color: #669ec0;
  }
  &__icon:active {
    background-color: #5496bd;
  }
  &__icon:active svg path {
    fill-opacity: 0.3;
  }
  &__icon svg {
    fill: $basic-white;
  }
}

.developer {
  @media (max-width: 767px) {
    padding: 4px 37px 0 0px;
  }
  // .developer__logo

  &__logo {
    color: $basic-black;
    position: relative;
  }

  // .developer__logo--svg

  &__logo--svg {
    margin: 0 0 0 7px;
    position: absolute;
    fill: $basic-black;
    @media (max-width: 767px) {
      margin: -4px 0px 0 12px;
    }
  }
  &__logo--svg:hover {
    fill: $-basic-medium-cyan-blue;
  }
  &__logo--svg:active {
    opacity: 0.3;
  }
}
