.intro-preview {
  // .intro-preview__column

  &__column {
    text-align: center;
    padding: 57px 0 41px 0;
    @media (max-width: 992px) {
      padding: 44px 0 52px 0;
    }
    @media (max-width: 767px) {
      padding: 33px 28px 11px 28px;
    }
  }

  // .intro-preview__title

  &__title {
    margin: 0 0 31px 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    @media (max-width: 767px) {
      font-size: 18px;
    }

    // .intro-preview__text
  }
  &__text {
  }
}
