.intro {
  // .intro__wrapper

  &__wrapper {
    padding: 78px 0 90px 0;
    background: url(../../source/img/index-background/intro-triangle.svg.svg) no-repeat bottom,
      url(../../source/img/index-background/back-desktop.jpg.jpg) 50% 0 no-repeat;
    @media (max-width: 767px) {
      padding: 114px 0 85px 0;
    }
  }

  // .intro__logo

  &__logo {
    text-align: center;
  }
}
