.page-header {
  // .page-header__wrapper

  &__wrapper {
    padding: 0 71px 14px 90px;
    position: relative;
  }

  // .page-header__logo

  &__logo {
    flex: 0 0 auto;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;

    // .main-nav__list

    &__list {
      display: flex;
      justify-content: space-between;
      margin: 16px 0 0 0;
    }
    &__list--left {
      width: 316px;
    }
    &__list--right {
      width: 341px;
    }

    // .main-nav__item

    &__item {
      max-width: 240px;
      font-weight: 700;
    }
    &__item-right {
      justify-self: right;
    }

    &__item a {
      color: $basic-black;
    }
    &__item a:focus {
      color: #604e43;
    }
    &__item a:hover {
      color: $basic-light-blue;
    }
    &__item a:active {
      color: #766357;
      opacity: 0.3;
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .page {
    // .page__wrapper

    &__wrapper {
      max-width: none;
    }
  }
}
