.page-header {
  position: relative;
  // .page-header__wrapper

  &__wrapper {
    padding: 14px 71px 16px 90px;

    @media (max-width: 1200px) {
      padding: 14px 30px 16px 30px;
    }
  }

  // .page-header__logo
  &__logo--wrapper {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    text-align: center;
  }
  &__logo {
  }

  .main-nav {
    display: flex;
    justify-content: space-between;

    // .main-nav__list

    &__list {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &__list--left {
      width: 316px;
      @media (max-width: 992px) {
        margin: 0 114px 0 0;
      }
    }
    &__list--right {
      width: 346px;
      @media (max-width: 992px) {
        margin: 0 0 0 100px;
      }
    }

    &__item a {
      color: $basic-black;
    }
    &__item a:focus {
      color: #604e43;
    }
    &__item a:hover {
      color: $basic-light-blue;
    }
    &__item a:active {
      color: #766357;
      opacity: 0.3;
    }
  }
}
@media (max-width: 1200px) {
  .page__body {
    max-width: 1120px;
  }
}
@media (max-width: 992px) {
  .page__body {
    max-width: 768px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .page__body {
    max-width: none;
    padding: 0;
    br {
    }
  }
}
