.contact-info {
  padding: 0 0 52px 0;
  flex: 1 1 auto;
  @media (max-width: 1000px) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @media (max-width: 767px) {
    grid-column-start: 1;
    grid-column-end: 3;
    order: 2;
    padding: 0;
    margin: 0 0 50px 0;
  }

  // .contact-info__title

  &__title {
    margin: 0 0 71px 0;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: $basic-black;
    position: relative;
    @media (max-width: 992px) {
      margin: 0 0 21px 0;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      margin: 0 0 16px 0;
    }
  }

  &__title::before {
    content: "";
    width: 280px;
    height: 1px;
    left: -339px;
    bottom: 17px;
    background-color: #dbdbdb;
    position: absolute;
    @media (max-width: 1040px) {
      width: 123px;
      left: -184px;
      bottom: 15px;
    }
    @media (max-width: 767px) {
      width: 320px;
      top: -21px;
      left: -40px;
    }
  }
  &__title::after {
    content: "";
    width: 280px;
    height: 1px;
    left: 339px;
    bottom: 17px;
    background-color: #dbdbdb;
    position: absolute;
    @media (max-width: 1040px) {
      width: 123px;
      bottom: 15px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  // .contact-info__list

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1280px) {
      display: block;
    }
  }

  // .contact-info__item

  &__item {
    display: flex;
    align-items: center;
    @media (max-width: 1280px) {
      display: grid;
    }
    @media (max-width: 767px) {
      text-align: left;
    }
  }

  // .contact-info__label
  &__span {
    display: none;
    @media (max-width: 1280px) {
      display: inline-block;
    }
  }
  &__label {
    margin: 0 15px 0 0;
    color: #333333;
    position: relative;

    @media (max-width: 1280px) {
      margin: 0 0 10px 22px;
    }
  }
  &__item--tel {
    @media (max-width: 1280px) {
      margin: 0 0 22px 0;
    }
    @media (max-width: 767px) {
      margin: 0 0 11px 0;
    }
  }
  &__label::after {
    content: "";
    position: absolute;
    top: -15px;
    right: -330px;
    width: 58px;
    height: 56px;
    background-color: #e6e6e6;
    background-position: 50% 50%;
    cursor: pointer;

    @media (max-width: 1280px) {
      top: 36px;
      right: 0px;
    }
  }
  &__label--tel::after {
    background-image: url(../../source/img/review-image/review-ico/phone.svg);
    background-repeat: no-repeat;
  }
  &__label--email::after {
    background-image: url(../../source/img/review-image/review-ico/mail.svg);
    background-repeat: no-repeat;
  }
  // .contact-info__input
  &__input {
    width: 315px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    padding: 18px 0 15px 22px;
    background-color: #f2f2f2;
    cursor: pointer;
    @media (max-width: 1280px) {
      width: 100%;
    }
  }
  &__input:hover {
    background-color: $basic-very-meium-light-gray;
  }
  &__input:focus {
    background-color: $basic-white;
    outline: 4px solid #e5e5e5;
  }
}
