.services {
}
.service {
  // .service__wrapper

  &__wrapper {
    display: flex;
  }

  // .service__column

  &__column {
    flex: 1 1 0.33333333%;
    padding: 59px 73px 48px 73px;
    text-align: center;
    @media (max-width: 992px) {
      padding: 59px 31px 58px 36px;
    }
  }

  // .service__svg

  &__svg {
    padding: 99px 0 45px 0;
  }
  &__svg-1 {
    background: url(/source/img/index-icon/icon-1.svg) top no-repeat;
    height: 72px;
  }

  // .service__svg-2

  &__svg-2 {
    background: url(/source/img/index-icon/icon-2.svg) top no-repeat;
    height: 69px;
  }

  // .service__svg-3

  &__svg-3 {
    background: url(/source/img/index-icon/icon-3.svg) top no-repeat;
    height: 75px;
  }

  // .service__title

  &__title {
    position: relative;
    font-size: 21px;
    font-weight: 700;
  }

  // .service__text

  &__text {
    @media (max-width: 992px) {
      br {
        display: none;
      }
      line-height: 23px;
    }
  }
}
