.serch-hotel {
  // .serch-hotel__wrapper

  &__wrapper {
    padding: 33px 0 67px 0;
    text-align: center;
    @media (max-width: 992px) {
      padding: 58px 0 59px 0;
    }
  }

  // .serch-hotel__column

  &__column {
  }

  // .serch-hotel__title

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 36px 0;
  }

  // .serch-hotel__text

  &__text {
    font-size: 14px;
    line-height: 23px;
  }

  // .serch-hotel__button

  &__button {
    padding: 16px 136px;
    margin: 42px 0 0 0;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: $basic-white;
    background-color: $basic-light-blue;
    @media (max-width: 992px) {
      margin: 37px 0 0 0;
    }
  }
  &__button:hover {
    background-color: $basic-light-cyan-blue;
  }

  &__button:active {
    border-color: $-basic-medium-cyan-blue;
  }
  &__button:active p {
    opacity: 0.3;
  }
  &__button:disabled {
    background-color: #e5e5e5;
    opacity: 0.3;
  }
}
.map iframe {
  width: 100%;
}
