@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0px auto;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.page__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page-header {
  position: relative;
}
.page-header__wrapper {
  position: relative;
}
@media (max-width: 700px) {
  .page-header__wrapper {
    padding: 27px 0px;
  }
}
.page-header__logo--wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  text-align: center;
}
.page-header__toggle {
  display: none;
  position: absolute;
  width: 24px;
  height: 22px;
  top: 17px;
  right: 0;
  margin: 0 20px 0 0;
  background-color: transparent;
}
@media (max-width: 700px) {
  .page-header__toggle {
    display: block;
  }
}
.page-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 23px;
  background-color: #81b3d2;
  -webkit-box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
          box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 71px 15px 90px;
}
@media (max-width: 1200px) {
  .main-nav {
    padding: 14px 30px 16px 30px;
  }
}
@media (max-width: 700px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-112%);
        -ms-transform: translateY(-112%);
            transform: translateY(-112%);
  }
}
.main-nav__toggle {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  right: 0;
  top: 18px;
  margin: 0 16px 0 0;
}
@media (max-width: 700px) {
  .main-nav__toggle {
    display: block;
  }
}
.main-nav__list {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}
@media (max-width: 700px) {
  .main-nav__list {
    display: block;
    font-size: 18px;
    background-color: #81b3d2;
  }
}
@media (max-width: 700px) {
  .main-nav__list:nth-child(2) .main-nav__item {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(98%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0.2) 100%);
    -webkit-box-shadow: 0px 0px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0px 0px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 700px) {
  .main-nav__list:nth-child(3) .main-nav__item {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(98%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0.2) 100%);
    -webkit-box-shadow: 0px 0px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0px 0px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 700px) {
  .main-nav__list:nth-child(4) .main-nav__item {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(84%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 84%, rgba(0, 0, 0, 0.2) 100%);
  }
}
@media (max-width: 700px) {
  .main-nav__list:hover .main-nav__item {
    background: #669ec0;
  }
}
.main-nav__list--left {
  width: 316px;
}
@media (max-width: 992px) {
  .main-nav__list--left {
    margin: 0 114px 0 0;
  }
}
@media (max-width: 700px) {
  .main-nav__list--left {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main-nav__list--right {
  width: 346px;
}
@media (max-width: 992px) {
  .main-nav__list--right {
    margin: 0 0 0 100px;
  }
}
@media (max-width: 700px) {
  .main-nav__list--right {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 700px) {
  .main-nav__item {
    padding: 17px 0 13px 0;
    width: 100%;
    text-align: center;
    background-color: #81b3d2;
    cursor: pointer;
  }
}
.main-nav__item a {
  color: #000000;
}
@media (max-width: 700px) {
  .main-nav__item a {
    color: #ffffff;
    display: block;
  }
}
.main-nav__item a:focus {
  color: #604e43;
}
.main-nav__item a:hover {
  color: #81b3d2;
}
.main-nav__item a:active {
  color: #766357;
  opacity: 0.3;
}

@media (max-width: 1200px) {
  .page__body {
    max-width: 1120px;
  }
}
@media (max-width: 992px) {
  .page__body {
    max-width: 768px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .page__body {
    max-width: none;
    padding: 0;
  }
}
@media (max-width: 700px) {
  .page__wrapper--opened {
    padding-top: 223px;
  }
}

@media (max-width: 700px) {
  .page__wrapper--closed {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .page__wrapper {
    -webkit-transition: padding-top 0.4s ease-in-out, padding-bottom 0.4s ease-in-out;
    -o-transition: padding-top 0.4s ease-in-out, padding-bottom 0.4s ease-in-out;
    transition: padding-top 0.4s ease-in-out, padding-bottom 0.4s ease-in-out;
  }
}

.intro__wrapper {
  padding: 78px 0 91px 0;
  background: url(../../source/img/index-background/intro-triangle.svg.svg) no-repeat bottom, url(../../source/img/index-background/back-desktop.jpg.jpg) 50% 0 no-repeat;
}
@media (max-width: 767px) {
  .intro__wrapper {
    padding: 92px 0 85px 0;
  }
}
.intro__logo {
  text-align: center;
}

.intro-preview__column {
  text-align: center;
  padding: 57px 0 41px 0;
}
@media (max-width: 992px) {
  .intro-preview__column {
    padding: 44px 0 52px 0;
  }
}
@media (max-width: 767px) {
  .intro-preview__column {
    padding: 33px 28px 11px 28px;
  }
}
.intro-preview__title {
  margin: 0 0 31px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .intro-preview__title {
    font-size: 18px;
  }
}
.feature__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .feature__wrapper {
    display: grid;
  }
}
.feature__wrapper-brige {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.feature__column {
  padding: 46px 66px 44px 70px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d3;
}
@media (max-width: 992px) {
  .feature__column {
    padding: 40px 0 65px 0;
  }
}
@media (max-width: 767px) {
  .feature__column {
    padding: 71px 15px 34px 15px;
  }
}
@media (max-width: 320px) {
  .feature__column {
    background: url(/source/img/index-logo/mobile-frame.svg) no-repeat #81b3d2;
  }
}
.feature__column-brige {
  padding: 52px 95px 44px 91px;
}
@media (max-width: 992px) {
  .feature__column-brige {
    padding: 40px 0 34px 0;
  }
  .feature__column-brige br {
    display: inline;
  }
}
@media (max-width: 320px) {
  .feature__column-brige {
    background: #81b3d2;
  }
}
.feature__column-brige {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.feature__title {
  font-size: 21px;
  font-weight: 700;
  margin: 0 0 17px 0;
}
@media (max-width: 767px) {
  .feature__title {
    font-size: 18px;
    margin: 0px 0 16px 0;
  }
  .feature__title br {
    display: none;
  }
}
.feature__number {
  line-height: 10px;
  margin: 0 0 30px 0;
}
@media (max-width: 767px) {
  .feature__number {
    margin: 0px 0 22px 0;
  }
}
.feature__text {
  line-height: 21px;
}
@media (max-width: 992px) {
  .feature__text br {
    display: none;
  }
}
.feature__img img {
  height: 100%;
}
@media (max-width: 767px) {
  .feature__img img {
    height: 260px;
  }
}

.service__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 28px 0;
}
@media (max-width: 767px) {
  .service__wrapper {
    padding: 26px 0px 23px 20px;
    display: grid;
  }
}
.service__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0.33333333%;
          flex: 1 1 0.33333333%;
  padding: 59px 50px 48px 50px;
  text-align: center;
}
@media (max-width: 992px) {
  .service__column {
    padding: 59px 31px 58px 36px;
  }
}
@media (max-width: 767px) {
  .service__column {
    padding: 0 31px 18px 36px;
  }
}
@media (max-width: 550px) {
  .service__column {
    padding: 0 0 9px 0;
  }
}
@media (max-width: 550px) {
  .service__column:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: grid;
  }
}
.service__svg {
  padding: 100px 0 0 0;
}
@media (max-width: 550px) {
  .service__svg {
    padding: 0;
    margin: 0 10px 0 0;
  }
}
.service__svg-1 {
  background: url(../../source/img/index-icon/icon-1.svg) top no-repeat;
}
@media (max-width: 550px) {
  .service__svg-1 {
    background: url(../../source/img/index-icon/mobile-icon-1.svg) no-repeat;
  }
}
.service__svg-2 {
  background: url(../../source/img/index-icon/icon-2.svg) top no-repeat;
}
@media (max-width: 550px) {
  .service__svg-2 {
    background: url(../../source/img/index-icon/mobile-icon-3.svg) no-repeat;
  }
}
.service__svg-3 {
  background: url(../../source/img/index-icon/icon-3.svg) top no-repeat;
}
@media (max-width: 550px) {
  .service__svg-3 {
    background: url(../../source/img/index-icon/mobile-icon-2.svg) no-repeat;
  }
}
.service__title {
  font-size: 21px;
  font-weight: 700;
  margin: 0 0 18px 0;
}
@media (max-width: 550px) {
  .service__title {
    font-size: 18px;
    padding: 12px 0 16px 50px;
    margin: 0;
    text-align: left;
  }
}
@media (max-width: 550px) {
  .service__text {
    line-height: 23px;
  }
  .service__text br {
    display: none;
  }
}
@media (max-width: 550px) {
  .service__text {
    text-align: initial;
    padding: 0px 20px 0 50px;
  }
}

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 41px 0 55px 0;
  background-color: #eeeeee;
}
@media (max-width: 992px) {
  .benefits__wrapper {
    padding: 44px 0 36px 0;
  }
}
@media (max-width: 767px) {
  .benefits__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 50px;
  }
}
@media (max-width: 550px) {
  .benefits__wrapper {
    row-gap: 47px;
    padding: 26px 0 22px 0;
  }
}
.benefits__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0.33333%;
          flex: 1 1 0.33333%;
  text-align: center;
  position: relative;
}
@media (max-width: 992px) {
  .benefits__column {
    padding: 0 40px 0 40px;
  }
}
@media (max-width: 767px) {
  .benefits__column {
    padding: 0px 23px 0 23px;
  }
  .benefits__column br {
    display: none;
  }
}
@media (max-width: 767px) {
  .benefits__column::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 400px;
    bottom: -23px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #d6d6d6;
  }
}
@media (max-width: 450px) {
  .benefits__column::after {
    width: 280px;
  }
}
.benefits__column:last-child::after {
  display: none;
}
.benefits__title {
  font-size: 21px;
  font-weight: 700;
  margin: 0 0 8px 0;
}
@media (max-width: 550px) {
  .benefits__title {
    font-size: 18px;
  }
}
.benefits__number {
  margin: 0 0 15px 0;
}
@media (max-width: 992px) {
  .benefits__text {
    line-height: 23px;
  }
}

.serch-hotel__wrapper {
  padding: 57px 0 67px 0;
  text-align: center;
}
@media (max-width: 992px) {
  .serch-hotel__wrapper {
    padding: 58px 0 59px 0;
  }
}
@media (max-width: 767px) {
  .serch-hotel__wrapper {
    padding: 34px 30px 0px 30px;
  }
}
@media (max-width: 550px) {
  .serch-hotel__wrapper {
    padding: 33px 16px 0px 15px;
  }
}
.serch-hotel__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 36px 0;
}
@media (max-width: 767px) {
  .serch-hotel__title {
    font-size: 21px;
    margin: 0 0 22px 0;
  }
}
.serch-hotel__text {
  font-size: 14px;
  line-height: 23px;
}
@media (max-width: 767px) {
  .serch-hotel__text br {
    display: none;
  }
}
.serch-hotel__button {
  padding: 16px 136px;
  margin: 42px 0 0 0;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}
@media (max-width: 992px) {
  .serch-hotel__button {
    margin: 37px 0 0 0;
  }
}
@media (max-width: 767px) {
  .serch-hotel__button {
    padding: 16px 47px;
    margin: 28px 0 50px 0;
  }
}
.serch-hotel__button:hover {
  background-color: #669ec0;
}
.serch-hotel__button:active {
  border-color: #5496bd;
}
.serch-hotel__button:active p {
  opacity: 0.3;
}
.serch-hotel__button:disabled {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.map iframe {
  width: 100%;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 37px 0;
}
@media (max-width: 992px) {
  .footer__wrapper {
    padding: 35px 37px 37px 25px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper {
    display: grid;
    justify-items: center;
    padding: 38px 10px 26px 8px;
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0.33333%;
          flex: 1 1 0.33333%;
}
.footer__link {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}
.footer__link:hover {
  color: #5496bd;
}
.footer__link:active {
  opacity: 0.3;
}
.footer__row-iconwrap {
  max-width: 150px;
  margin: 0 130px 0 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .footer__row-iconwrap {
    margin: 0px 67px 0 77px;
  }
}
@media (max-width: 767px) {
  .footer__row-iconwrap {
    grid-gap: 6px;
    margin: 34px 51px 40px 53px;
  }
}
.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  cursor: pointer;
  background-color: #81b3d2;
}
.footer__icon:hover {
  background-color: #669ec0;
}
.footer__icon:active {
  background-color: #5496bd;
}
.footer__icon:active svg path {
  fill-opacity: 0.3;
}
.footer__icon svg {
  fill: #ffffff;
}

@media (max-width: 767px) {
  .developer {
    padding: 4px 37px 0 0px;
  }
}
.developer__logo {
  color: #000000;
  position: relative;
}
.developer__logo--svg {
  margin: 0 0 0 7px;
  position: absolute;
  fill: #000000;
}
@media (max-width: 767px) {
  .developer__logo--svg {
    margin: -4px 0px 0 12px;
  }
}
.developer__logo--svg:hover {
  fill: #5496bd;
}
.developer__logo--svg:active {
  opacity: 0.3;
}

.common-intro__wrapper {
  padding: 100px 0 123px 0;
  text-align: center;
  background: url(../../source/img/review-image/review-background/intro-triangle.svg.svg) bottom no-repeat, url(../../source/img/review-image/review-background/back-desktop.jpg) 50% -54px no-repeat;
}
@media (max-width: 992px) {
  .common-intro__wrapper {
    padding: 96px 0 120px 0;
  }
}
.common-intro__column {
  padding: 113px 0 55px 0;
  text-align: center;
}
@media (max-width: 992px) {
  .common-intro__column {
    padding: 57px 0 55px 0;
  }
}
.common-intro__column--catalog {
  padding: 104px 0 55px 0;
}
@media (max-width: 992px) {
  .common-intro__column--catalog {
    padding: 54px 0 55px 0;
  }
}
.common-intro__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 32px 0;
}
.review-form__wrapper {
  max-width: 1200px;
  padding: 0 120px;
  margin: 0px auto;
}
@media (max-width: 1200px) {
  .review-form__wrapper {
    padding: 0 60px;
  }
}

.questionnaire-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 0 69px 78px;
}
@media (max-width: 992px) {
  .questionnaire-wrapper {
    padding: 28px 0 69px 0;
  }
}

.questionnaire {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.questionnaire::after {
  content: "";
  width: 1px;
  height: 292px;
  top: -26px;
  right: 43px;
  position: absolute;
  background-color: #dbdbdb;
}
@media (max-width: 992px) {
  .questionnaire::after {
    right: 0px;
  }
}
.questionnaire__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 21px;
  font-weight: 700;
}
.questionnaire__list {
  margin: 73px 0 0 0;
}
@media (max-width: 992px) {
  .questionnaire__list {
    padding: 0px 0 0 71px;
  }
}
.questionnaire__item {
  margin: 0 0 51px 0;
  position: relative;
}
.questionnaire__item:last-child {
  margin: 0;
}
.questionnaire__label {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}
.questionnaire__label:first-letter {
  text-transform: uppercase;
}
.questionnaire__radio-button {
  width: 55px;
  height: 55px;
  top: -16px;
  left: -76px;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: absolute;
  cursor: pointer;
}
.questionnaire__radio-button:hover {
  background-color: #e5e5e5;
}
.questionnaire__radio-button:active {
  background-color: #d5d5d5;
}
.questionnaire__radio:checked + .questionnaire__label::after {
  content: "";
  width: 20px;
  height: 20px;
  top: 1px;
  left: -58px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  cursor: pointer;
}
.questionnaire__radio:checked + .questionnaire__label:active::after {
  background-color: #333333;
  opacity: 0.3;
}

.personality {
  padding: 0 0 0 36px;
}
@media (max-width: 992px) {
  .personality {
    padding: 0 0 0 55px;
  }
}
.personality__list {
  display: grid;
  max-width: 400px;
  margin: 57px 0 0 0;
}
.personality__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}
.personality__item:last-child {
  margin: 0;
}
.personality__input {
  width: 100%;
  padding: 18px 0 14px 22px;
  margin: 0 0 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}
.personality__input:hover {
  background-color: #e5e5e5;
}
.personality__input:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}

.contact-info {
  padding: 0 0 52px 0;
}
.contact-info__title {
  margin: 0 0 71px 0;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  position: relative;
}
@media (max-width: 992px) {
  .contact-info__title {
    margin: 0 0 21px 0;
  }
}
.contact-info__title::before {
  content: "";
  width: 280px;
  height: 1px;
  left: -339px;
  bottom: 17px;
  background-color: #dbdbdb;
  position: absolute;
}
@media (max-width: 1040px) {
  .contact-info__title::before {
    width: 123px;
    left: -184px;
    bottom: 15px;
  }
}
.contact-info__title::after {
  content: "";
  width: 280px;
  height: 1px;
  left: 339px;
  bottom: 17px;
  background-color: #dbdbdb;
  position: absolute;
}
@media (max-width: 1040px) {
  .contact-info__title::after {
    width: 123px;
    bottom: 15px;
  }
}
.contact-info__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1280px) {
  .contact-info__list {
    display: block;
  }
}
.contact-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1280px) {
  .contact-info__item {
    display: grid;
  }
}
.contact-info__span {
  display: none;
}
@media (max-width: 1280px) {
  .contact-info__span {
    display: inline-block;
  }
}
.contact-info__label {
  margin: 0 15px 0 0;
  color: #333333;
  position: relative;
}
@media (max-width: 1280px) {
  .contact-info__label {
    margin: 0 0 10px 22px;
  }
}
@media (max-width: 1280px) {
  .contact-info__item--tel {
    margin: 0 0 22px 0;
  }
}
.contact-info__label::after {
  content: "";
  position: absolute;
  top: -15px;
  right: -330px;
  width: 58px;
  height: 56px;
  background-color: #e6e6e6;
  background-position: 50% 50%;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .contact-info__label::after {
    top: 36px;
    right: 0px;
  }
}
.contact-info__label--tel::after {
  background-image: url(../../source/img/review-image/review-ico/phone.svg);
  background-repeat: no-repeat;
}
.contact-info__label--email::after {
  background-image: url(../../source/img/review-image/review-ico/mail.svg);
  background-repeat: no-repeat;
}
.contact-info__input {
  width: 315px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  padding: 18px 0 15px 22px;
  background-color: #f2f2f2;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .contact-info__input {
    width: 100%;
  }
}
.contact-info__input:hover {
  background-color: #e5e5e5;
}
.contact-info__input:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}

.sights {
  padding: 0 0 82px 0;
}
.sights__title {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  position: relative;
  margin: 0 0 61px 0;
}
.sights__title::before {
  content: "";
  width: 280px;
  height: 1px;
  left: -339px;
  bottom: 25px;
  background-color: #dbdbdb;
  position: absolute;
}
@media (max-width: 1040px) {
  .sights__title::before {
    width: 123px;
    left: -184px;
    bottom: 25px;
  }
}
.sights__title::after {
  content: "";
  width: 280px;
  height: 1px;
  left: 339px;
  bottom: 25px;
  background-color: #dbdbdb;
  position: absolute;
}
@media (max-width: 1040px) {
  .sights__title::after {
    width: 123px;
    bottom: 25px;
  }
}
.sights__list {
  padding: 0 0 0 63px;
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .sights__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 62px;
    padding: 0 0 0 162px;
  }
}
.sights__label {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  position: relative;
}
.sights__checkbox-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  top: -21px;
  left: -69px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.sights__checkbox:checked + .sights__label::after {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 16px;
  left: -53px;
  top: -1px;
  background: url(../../source/img/review-image/review-ico/tick.svg) no-repeat;
  cursor: pointer;
}
.sights__checkbox-icon:hover::before {
  background-color: #e5e5e5;
}
.sights__checkbox-icon:active::before {
  background-color: #d5d5d5;
}
.sights__label:active::after {
  opacity: 0.3;
}

.feedback {
  padding: 0 0 52px 0;
}
.feedback__title {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  position: relative;
  margin: 0 0 50px 0;
}
.feedback__title::before {
  content: "";
  width: 280px;
  height: 1px;
  left: -356px;
  bottom: 16px;
  background-color: #dbdbdb;
  position: absolute;
}
@media (max-width: 1040px) {
  .feedback__title::before {
    width: 123px;
    left: -184px;
    bottom: 15px;
  }
}
.feedback__title::after {
  content: "";
  width: 280px;
  height: 1px;
  left: 324px;
  bottom: 17px;
  background-color: #dbdbdb;
  position: absolute;
}
@media (max-width: 1040px) {
  .feedback__title::after {
    width: 123px;
    bottom: 15px;
  }
}
.feedback__textarea {
  width: 100%;
  height: 160px;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 0 0 20px;
  background-color: #f2f2f2;
}
.feedback__textarea::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.feedback__textarea::-moz-placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.feedback__textarea:-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.feedback__textarea::-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.feedback__textarea::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.review-form__button--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 66px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .review-form__button--wrapper {
    padding: 0 0 61px 0;
  }
}
.review-form__button {
  padding: 19px 149px 14px 147px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}
@media (max-width: 992px) {
  .review-form__button {
    padding: 19px 77px 14px 66px;
  }
}
.review-form__text {
  font-size: 14px;
}

@media (max-width: 992px) {
  .catalog-page__wrapper {
    padding: 0px 60px;
  }
}

.gallery__wrapper {
  display: grid;
  padding: 21px 0 0 0;
}
@media (max-width: 992px) {
  .gallery__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 23px 0 6px 0px;
  }
}
.gallery__item {
  position: relative;
}
@media (max-width: 992px) {
  .gallery__item {
    width: 324px;
  }
}
@media (max-width: 992px) {
  .gallery__item:nth-child(3) .gallery-info {
    background-color: #eaeaea;
  }
}
.gallery__item-big {
  grid-column-start: 1;
  grid-column-end: 5;
}
@media (max-width: 992px) {
  .gallery__item-big {
    width: 1200px;
  }
}

.gallery-info {
  width: 100%;
  position: absolute;
  bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
}
@media (max-width: 992px) {
  .gallery-info {
    position: relative;
    bottom: 0;
    background-color: #f2f2f2;
  }
}
.gallery-info__revue {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 16px 0 15px 21px;
}
@media (max-width: 992px) {
  .gallery-info__revue {
    color: #000000;
  }
}
.gallery-info__text {
  font-weight: 400;
  text-transform: none;
}
.gallery-info__icon svg {
  cursor: pointer;
  fill: #ffffff;
}
@media (max-width: 992px) {
  .gallery-info__icon svg {
    fill: rgba(0, 0, 0, 0.3);
  }
}
.gallery-info__label {
  margin: 0 4px 0 0;
}
.gallery-info__input {
  width: 53px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background-color: transparent;
}
.gallery-info__input::-webkit-input-placeholder {
  color: #ffffff;
}
.gallery-info__input::-moz-placeholder {
  color: #ffffff;
}
.gallery-info__input:-ms-input-placeholder {
  color: #ffffff;
}
.gallery-info__input::-ms-input-placeholder {
  color: #ffffff;
}
.gallery-info__input::placeholder {
  color: #ffffff;
}
@media (max-width: 992px) {
  .gallery-info__input::-webkit-input-placeholder {
    color: #000000;
  }
  .gallery-info__input::-moz-placeholder {
    color: #000000;
  }
  .gallery-info__input:-ms-input-placeholder {
    color: #000000;
  }
  .gallery-info__input::-ms-input-placeholder {
    color: #000000;
  }
  .gallery-info__input::placeholder {
    color: #000000;
  }
}

.video__wrapper {
  padding: 55px 0 85px 0;
  text-align: center;
}
@media (max-width: 992px) {
  .video__wrapper {
    padding: 55px 0 40px 0;
  }
}

.video-info {
  padding: 0 0 83px 0;
}
@media (max-width: 992px) {
  .video-info {
    padding: 0px 0 78px 0;
  }
}
.video-info__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 31px 0;
}
.video-preview {
  max-width: 800px;
  margin: 0px auto;
  position: relative;
}
.video-preview__controls {
  padding: 36px 43px 29px 34px;
  width: 100%;
  position: absolute;
  bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
}
.video-preview__controls svg {
  fill: #ffffff;
  cursor: pointer;
}
.video-preview__controls svg:hover {
  fill: rgba(255, 255, 255, 0.6);
}
.video-preview__controls svg:active {
  fill: rgba(255, 255, 255, 0.3);
}
.video-preview__button {
  width: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.video-preview__bar {
  margin: 9px 0 0 0;
  width: 540px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
@media (max-width: 992px) {
  .video-preview__bar {
    width: 389px;
  }
}
.video-preview__togle {
  margin: -6px 0 0 113px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */