$basic-blue: #23a9e1;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #6a6a6a;
$basic-dark-gray: #333333;
$basic-light-gray: #cacaca;
$basic-light-blue: #81b3d2;
$basic-red-orange: #dc6243;
$basic-light-red: #f4b1a4;
$basic-shade-orange: #766458;
$basic-dark-rose-red: #491213;
$basic-medium-light-gray: #ababab;
$basic-medium-magenta-pink: #bdbbbc;
$basic-medium-white-blue: #ebebeb;
$basic-light-cyan-blue: #669ec0;
$-basic-medium-cyan-blue: #5496bd;
$basic-light-dark-gray: #a9a9a9;
$basic-very-light-gray: #eeeeee;
$basic-extra-light-gray: #f2f2f2;
$basic-medium-dark-gray: #666666;
$basic-very-meium-light-gray: #e5e5e5;
$basic-medium-light-blue: #81b3d3;
$basic-light-red-orange: #f49774;
$baic-medium-dark-orange: #604e43;
$basic-light-dark-orange: #503e33;
